html{
  scrollbar-width: thin;
  scrollbar-color:  #9ea8ab #1d1e22;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family:monospace;
}


